body {
	text-align: left;
	background-color: #777777;
}

div {
  margin-top: 0px;
}

h1 {
	color: #aadddd;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: #777777;
  color: #aadddd;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed; /* stay in place */
	z-index: 1;	/* stay as top layer */
	top: 0;
	left: 0;
	background-color: #005577;
	overflow-x: hidden;	/* disable horizontal scrolling */
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;	/* top right bottom left */
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;	/* position is relative to nearest positioned ancestor */
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* rounded button for menu */
.rbutton {
	background-color: #005577;
	border: none;
	color: white;	/* text color */
	padding: 15px 32px;	/* top/bottom left/right */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 7px
}

/* to push page content to the right */
#main {
	margin-left: .menubutton.width;
	transition: margin-left .5s;
	padding: 20px;
}

/* for smaller screens, adjust sidenav properties */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}